@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/segoe/SegoeUI-Light.eot');
	src: url('../fonts/segoe/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/segoe/SegoeUI-Light.woff') format('woff'),
		url('../fonts/segoe/SegoeUI-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/segoe/SegoeUI-Bold.eot');
	src: url('../fonts/segoe/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/segoe/SegoeUI-Bold.woff') format('woff'),
		url('../fonts/segoe/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SemiBold';
	src: url('../fonts/semi-bold/SegoeUI-SemiBold.eot');
	src: url('../fonts/semi-bold/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/semi-bold/SegoeUI-SemiBold.woff') format('woff'),
		url('../fonts/semi-bold/SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}