// color
$color-dark-blue: #353f46;
$color-dark-blue-transparent: rgba(53, 63, 70, .85);
$color-dark-blue-footer: #353f47;
$color-light-blue: #4bcaff;
$color-light-blue-transparent: rgba(75, 202, 255, .15);
$color-light: #ffffff;
$color-dark-grey: #515f67;

// font family
$font-primary: 'Segoe UI', sans-serif;
$font-secondary: 'SemiBold', sans-serif;

// path
$img-path: '../img/';

// sizes
$header-height-mobile: 525px;
$header-height-desktop: 800px;
$header-nav-height: 100px;

// screens
$screen-lg-min: 1200px;