div#contact
  div.container
    h2.title Contact
    div.row
      div.col-lg-5
        label full name
        input(type=text)
        label email
        input(type=text)
      div.col-lg-6.col-lg-offset-1
        p Jujubes bear claw croissant wafer sweet lemon drops brownie chocolate bar. Sweet lollipop halvah tootsie roll cake fruitcake. Chocolate cake chocolate bar gingerbread lollipop tart. Jujubes bear claw donut chupa chups.
        p Linda Newman W325<br/> State Road 123<br/> Mondovi, WI(Wisconsin) 98746-54321<br/> (715) 946 - 1234
    div.row
      div.col-lg-12
        label message
        textarea
    div.row
      div.col-lg-4.col-md-4
        a.submit-btn message