header#header
  nav
    div.container
      div.row
        div.col-lg-2.col-md-2.logo blu<span class='blue-letter'>e</span>asy
        div.visible-xs-block.mobile-menu-show
          i.fa.fa-bars
        ul.top-menu
          li
            a(href='#') home
          li 
            a(href='#') services
          li 
            a(href='#') features
          li 
            a(href='#') portfolio
          li 
            a(href='#') contact
        div.visible-xs-block.mobile-menu-hide.invisible
          i.fa.fa-times
  div.hero
    p “I’m looking for the unexpected. 
    p I’m looking for things I’ve never seen before.” 