div#portfolio
  div.container
    div.row
      div.col-lg-2
        h2.title Portfolio
      div.col-lg-10
        ul.pull-right
          li.active all
          li panoramas
          li portraits
          li macro
          li journal
    div.gallery
      div.row
        div.col-lg-3.col-md-4.col-sm-6.img
          img(src='./img/gallery-item-1.jpg')
        div.col-lg-3.col-md-4.col-sm-6.img
          img(src='./img/gallery-item-2.jpg')
        div.col-lg-3.col-md-4.col-sm-6.img
          img(src='./img/gallery-item-3.jpg')
        div.col-lg-3.col-md-4.col-sm-6.img
          img(src='./img/gallery-item-4.jpg')
        div.col-lg-3.col-md-4.col-sm-6.img
          img(src='./img/gallery-item-5.jpg')
        div.col-lg-3.col-md-4.col-sm-6.img
          img(src='./img/gallery-item-6.jpg')
        div.col-lg-3.col-md-4.col-sm-6.img
          img(src='./img/gallery-item-7.jpg')
        div.col-lg-3.col-md-4.col-sm-6.img
          img(src='./img/gallery-item-8.jpg')