div.services
  div.container
    h2.title Services
    div.row
      div.col-lg-3.col-md-3
        div.services-icon
         img(src='./img/coffee.png')
        h3 Coffee
        p Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
      div.col-lg-3.col-md-3
        div.services-icon
          img(src='./img/instant.png')
        h3 Instant
        p Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
      div.col-lg-3.col-md-3
        div.services-icon
          img(src='./img/serious.png')
        h3 Serious
        p Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
      div.col-lg-3.col-md-3
        div.services-icon
          img(src='./img/frame.png')
        h3 Frame
        p Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.