div.testimonials
  div.container
    h2.title Testimonials
    i.fa.fa-quote-right.quote-icon
    p Applicake chocolate cake wafer toffee pie soufflé wafer. Tart marshmallow wafer macaroon cheesecake jelly. Gingerbread cookie soufflé sweet roll sweet roll jelly-o.
    p.author -Walter White