doctype html
html
  head
      title Blueasy
      meta(charset="utf-8")
      // inject:css
      // endinject
  body
    include ./views/header.pug
    include ./views/services.pug
    include ./views/portfolio.pug
    include ./views/section.pug
    include ./views/twitter.pug
    include ./views/whois.pug
    include ./views/testimonials.pug
    include ./views/contact.pug
    include ./views/footer.pug